numpy==2.0.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
joblib==1.4.2
pandas==2.2.3
androguard==4.1.2
lime==0.2.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
openai==0.28.0
pillow==11.0.0
fpdf==1.7.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
seaborn==0.13.2
scikit-learn==1.5.2
lime==0.2.0.1
imbalanced-learn==0.12.4



